<script setup>
import NavBar from '../layouts/NavBar.vue'
import FooterView from '../layouts/FooterView.vue';
</script>

<template>
    <NavBar />
    <RouterView />
    <FooterView />
</template>

<style lang="scss" scoped>
</style>
